.div1 {
    background-color:  transparent;
    color:  black;
    width: 30%;
    
    
}
body {
    background-color: rgba(0, 0, 0, 0.096);
}
.div3 {
    background-color: transparent;
    height: 10%;
}